@colorsValues: white, grey, grey-dark, grey-dark-light, grey-light, grey-black,
  dark, dark-2, dark-3, dark-4, dark-5, teal, teal-dark, teal-white, teal-white,
  pink, pink-dark, pink-light, pink-white, yellow, yellow-dark, yellow-darker,
  yellow-light, yellow-dark, yellow-white, orange, orange-dark, orange-light,
  orange-white, green, green-light, green-dark, green-white, dark-light,
  grey-black-2, grey-active, red;

@white: white;

@grey: #909090;
@grey-dark: #565656;
@grey-dark-light: rgba(71, 64, 64, 0.27);
@grey-light: #f3f3f3;
@grey-black: #202020;
@grey-black-2: #828080;

@dark: #0c0c0c;
@dark-2: #0e0518;
@dark-3: #2b2b2b;
@dark-4: #757575;
@dark-5: #151414;
@dark-light: #101010;
@grey-active: #5a5a5a;

@teal: #01ffff;
@teal-dark: #32c5c5;
@teal-light: #ceffff;
@teal-white: #01ffff;

@pink: #ff01b1;
@pink-dark: #ff01b1;
@pink-light: #fc90f1;
@pink-white: #ffe5f7;

@yellow: #f9f133;
@yellow-dark: #e8d421;
@yellow-darker: #f9cd33;
@yellow-light: #fdfab5;
@yellow-white: #fffee3;

@orange: #ffaf44;
@orange-dark: #e37f47;
@orange-light: #ffd296;
@orange-white: #fff0dd;

@green: #37fc4a;
@green-dark: #37fc4a;
@green-light: #37fc4a;
@green-white: #37fc4a;

@red: #d41628;
