.btn {

    .py-3;
    .px-15;

    .outline-none;
    .no-border;

    box-shadow: inset 0px 3px 4px rgba(1, 255, 255, 0.5), inset 0px -3px 5px rgba(51, 118, 249, 0.44);
    background: rgba(241, 170, 87, 0.05);
    border-radius: 23px;

    .good-times;
    .text-white;
    .f6;

    .cursor-pointer;
}