.btn-secondary {
  .relative;

  .py-3;
  .px-15;

  .no-appearance;
  .outline-none;

  .bw-1;
  .bc-teal;
  .bs-solid;
  .br-5;

  .cursor-pointer;
  .good-times;
  .f6;
  .uppercase;
  .font-bold;
  .transition;

  background: rgba(241, 170, 87, 0.05);

  .cursor-pointer;
  transform: scale(1);
  will-change: transform;

  &:active {
    &:not(.disabled) {
      transform: scale(0.95);
    }
  }

  &:focus {
    &:not(.disabled) {
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(60, 66, 87, 0.95) 0px 0px 0px 4px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    }
  }

  &:hover {
    &:before {
      .opacity-03;
    }
  }

  &:before {
    content: "";
    .absolute;

    .w-full;
    .h-full;

    .t-0;
    .l-0;

    .bg-teal;
    .opacity-01;
    .transition;
  }

  &.teal {
    .text-teal;
    .bc-teal;
  }

  &.orange {
    .text-orange-dark;
    .bc-orange;

    &:before {
      .bg-orange;
    }
  }

  &.red {
    .text-red;
    .bc-red;

    &:before {
      .bg-red;
    }
  }

  &.disabled {
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.2;
  }

  span {
    .transition;
  }

  &:after {
    content: "";
    transform-origin: center;
    .absolute;
    width: 25px;
    height: 25px;

    top: calc(50% - 12.5px);
    left: calc(50% - 12.5px);

    border-radius: 6px;

    background-color: rgb(167 167 167);

    z-index: -1;
    opacity: 0;
  }

  &.loading {
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;

    .bc-dark;
    .bg-grey-dark-light;
    &:before {
      opacity: 0;
    }

    span {
      opacity: 0;
    }
    &:after {
      opacity: 1;
      animation: loading-btn 1s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
    }
  }
}

@keyframes loading-btn {
  0% {
    transform: scale(0.3) rotate(0deg);
    opacity: 0.3;
    border-radius: 50%;
  }
  50% {
    transform: scale(0.8) rotate(360deg);
    opacity: 1;
    border-radius: 5px;
  }
  100% {
    transform: scale(0.3) rotate(0deg);
    opacity: 0.3;
    border-radius: 50%;
  }
}
